<!-- Toolbar de angular material, con la funcionalidad de *ngIf para no mostrar ciertos elementos en la HomePage y LoginPage -->
<mat-toolbar color="primary">
    <span>Prueba Angular y NestJs</span>
    <span class="example-spacer"></span>
    <ng-container *ngIf="ValidarOpciones();">
      <div id="linksContainer">
        <a routerLink="/dashboard" class="aEtiquetas">Dashboard</a>
        <a routerLink="/users" class="aEtiquetas">Users</a>
      </div>
      <a routerLink="/auth/login" id="aCerrarSesion">Cerrar sesión</a>
    </ng-container>
  </mat-toolbar>

<!-- Contenedor raíz para toda la aplicación del body -->
<div class="container">
  <router-outlet></router-outlet>
</div>
